doctype
html
    head
        meta(charset='utf-8')
        link(rel="manifest" href="/amdb/js/react/favicon/manifest.json")
        link(rel="shortcut icon" href="/amdb/js/react/favicon/favicon.ico")
        link(rel="stylesheet" type='text/css' href="/amdb/vendor/skeleton/normalize.css" )
        link(rel="stylesheet" type='text/css' href="/amdb/css/fonts/typicons.min.css" )
        link(rel="stylesheet" type='text/css' href="/amdb/css/main.css" )
        link(rel="stylesheet" type='text/css' href="/amdb/js/react/static/css/main.b23a8d02.css" )

    body
        block content
        block scripts
