extends ./layout

block content
    .container
        .columns
            .column.is-8.is-offset-2.mt-4.login
                h3.title.is-3=__("AMDB Login")
                form(method="POST" action="/amdb/login")
                    .row
                        .field
                            label= "User"
                            .control
                                input.input(type="text" required placeholder="Username" name="username")
                        .field
                            label= "Password"
                            .control
                                input.input(type="password" required placeholder="Password" name="password")
                        .control
                            input.button.is-primary(type="submit" value=__("Accept"))